.Modal {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0;
  color: var(--primary-color);
}

.Modal.dark {
  --primary-color: #04ff04;
  --bg-color: #090949;
}

.content {
  padding: 30px;
  border-radius: 12px;
  background: var(--bg-color);
  transition: 0.3s transform;
  max-width: 80%;
  width: 100%;
  transform: scale(0.5);
}

.opened {
  z-index: var(--modal-z-index);
  opacity: 1;
  pointer-events: all;
  .content {
    transform: scale(1);
  }
}

.isClosing {
  .content {
    transform: scale(0.2);
  }
}
