.item {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.icon {
  fill: var(--inverted-primary-color);

  // margin-right: 10px;
}

.link {
  margin-left: 10px;
  opacity: 1;
}

.collapsed {
  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }
}
