.BIG {
  .card {
    margin-bottom: 30px;
    width: 100%;
  }

  display: flex;
  flex-wrap: wrap;
}

.SMALL {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .card {
    display: inline-flex;
    height: 300px;
  }
}

.row {
  display: flex;
  gap: 30px;
}
