.InputWrapper {
  display: flex;
}

.Input {
  outline: none;
  border: none;
  width: 100%;
  background: transparent;
  text-shadow: 0 0 0 var(--primary-color);
  color: transparent;
  &:focus {
    outline: none;
  }
}

.placeholder {
  margin-right: 5px;
}

.caretWrapper {
  flex-grow: 1;
  position: relative;
}

.caret {
  position: absolute;
  height: 3px;
  width: 9px;
  background: var(--primary-color);
  bottom: 0;
  left: 0;
  animation: blink infinite forwards 0.7s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.01;
  }
  100% {
    opacity: 1;
  }
}
