:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;
  --primary-color: #0232c2;
  --secondary-color: #0452e0;
  --inverted-primary-color: #04ff04;
  --inverted-secondary-color: #049604;
  --skeleton-color: #d376cd;
  --skeleton-shadow: #faf4fb;
  --code-bg: #ceced1;

  // Card
  --card-bg: #c4c4e6;
}
