.app_peach_theme {
  --bg-color: #fbf6f4;
  --inverted-bg-color: #ffa073;
  --primary-color: #ef4c3e;
  --inverted-primary-color: #e5e0de;
  --secondary-color: #a61e11b3;
  --inverted-secondary-color: #fbf6f4;
  --skeleton-color: #ce856f;
  --skeleton-shadow: #faf4fb;
  --code-bg: #fae6de;

  // Card
  --card-bg: #eaccc0;

  // ListBox
  --list-box-bg: #eaccc0;
}
