.app_peach_theme {
  --bg-color: #fbf6f4;
  --inverted-bg-color: #ffa073;
  --primary-color: #ff5b4d;
  --inverted-primary-color: pink;
  --secondary-color: green;
  --inverted-secondary-color: blue;
}
