.ArticleDetailsPage {
  width: 100%;
  .recommendations {
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow: auto hidden;
    gap: 10px;
  }
}

.commentTitle,
.recommendationsTitle {
  margin-top: 50px;
}
