.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}

.loading,
.error {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
}
