.Dropdown {
  position: relative;
}

.trigger {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.menu {
  position: absolute;
  background-color: var(--primary-color);
  border-radius: 4px;
}

.item {
  cursor: pointer;
  outline: none;
  background: none;
  margin: 0;
  padding: 10px 25px;
  width: 100%;
  border: none;
}

.active {
  background-color: var(--inverted-primary-color);
}

// к рефакторингу

.optionsTop {
  bottom: 100%;
}

.optionsBottom {
  top: 100%;
}

// .optionsBottomLeft в ListBox top 0

.optionsBottomLeft {
  top: 100%;
  right: 100%;
}

.optionsBottomRight {
  top: 0;
  left: 100%;
}

.optionsTopLeft {
  bottom: 0;
  right: 100%;
}

.optionsTopRight {
  bottom: 0;
  left: 100%;
}
